body{
    justify-content: center;
    display: flex;
}

#formulario{
    font-family: 'Arial', sans-serif;
    width: 60%;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label{
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.texto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#enviar {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#terminos {
  display: inline-flex;      
  align-items: center;
  margin-right: 1%;
  margin-bottom: 2%;
}

#terminos input {
  order: -1;                
  margin-right: .4em;       
}
